.PlayerInfo {
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  color: violet;
  background-color: #253156;
  height: 300px;
  width: 90%;
  max-width: 560px;
  border-radius: 20px;;

  img {
    position: absolute;
    top: -40px;
    width: 120px;
    height: 120px;
    border-radius: 120px;
  }
}
