.PlayerInfo {
  margin: 75px 0 0px 0;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;

  color: #eee;
  background-color: #253156;
  width: 90%;
  max-width: 280px;
  border-radius: 20px;

  .AvatarWithFlag {
    position: absolute;
    top: -40px;
  }
}

.InnerContainer {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
