form {
  width: 90%;
  max-width: 280px; 
  display: flex;
  flex-direction: column;

  input {
    font-size: 1.4rem;
    text-align: center;
    border: 0;
    box-shadow: none;
    padding: 8px;
    border-radius: 8px;
    & + input {
      margin: 4px 0;
    }
  }

  input[type="button"] {
    font-weight: 800;
    color: #fff;
    background-color: #9629ed;
    cursor: pointer;
    border-bottom: 4px solid #580d96;
    transition: background-color ease-out 100ms;

    &:hover {
      background-color: #7a12ce;
    }
  }
}